<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <p>키값 : {{key}}</p>
        <p>페이지 제목 : {{pageTitle}}</p>
        <p>메시지 : {{message}}</p>
        <p>유저 이름 : {{userName}}</p>
        <p>유저 나이 : {{userAge}}</p>
        <p>유저 점수 : {{userScore}}</p>
        <p>활성화 여부 : {{isActive}}</p>
        <p>현재 날짜 : {{currentDate}}</p>
    </section>
</body>
</html>