{{> examples/head}}
<body>
    <h1>여기는 test1 mustache 파일입니다.</h1>
    <p>문자열: {{stringValue}}</p>
    <p>숫자: {{intValue}}</p>

    <p>HTML 렌더링(가능한 사용 금지 - 보안 취약 XSS): {{{htmlContent}}}</p>

    <!--  섹션 문법  -->
    {{#hasData}}
        <p>데이터 존재: {{data}}</p>
    {{/hasData}}

    <!--  부정 섹션  -->
    {{^noData}}
        <p style="color: red">데이터 없음</p>
    {{/noData}}

    <!--  mustache 코드에서는 주석이 {{!}} 이다 -->
    <ul>
        {{#items}}
            {{! 키 값이 없는 컬렉션을 처리할 때 .을 표기 해서 사용한다.}}
            <li>{{.}}</li>
        {{/items}}
    </ul>
    {{> common/footer}}